footer {
    font-family: -apple-system, 
                 BlinkMacSystemFont, 
                 "Segoe UI", 
                 Roboto, 
                 Oxygen-Sans, 
                 Ubuntu, 
                 Cantarell, 
                 "Helvetica Neue", 
                 sans-serif;
    display: flex;
    justify-content: space-between;
    z-index: 20;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    width: 98%;
}

.bottom-right {
    display: block;
}

