body {
    font-family: -apple-system, 
                 BlinkMacSystemFont, 
                 "Segoe UI", 
                 Roboto, 
                 Oxygen-Sans, 
                 Ubuntu, 
                 Cantarell, 
                 "Helvetica Neue", 
                 sans-serif;
    font-size: 20px;
    color: cornsilk;
 }

.main-content {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-image: linear-gradient(120deg,
                      #aa208f,#7c216a,#d133b2,
                      #28afc7,#313ab4,#2073aa,
                      #f44444,#882518,#f44444);
    background-size: 500%;
    animation: gradiant 25s linear infinite;
    z-index: 1;
}
@keyframes gradiant {
    from{ background-position: 0; }
    to{ background-position: 50%; }
}