header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2;
}

.left-top {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

/* .left-top div {
    border: solid 2px rgb(0, 0, 0);
    padding: 10px;
    border-radius: 50%;
} */

.left-top div:hover {
    transform: translateX(15%);
    transition: 0.5s cubic-bezier(1,-1.14,.07,1);
}

.logo {
    cursor: pointer;
}

.tab-button{
    display: block;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.tab-button:hover {
    color: rgb(255, 255, 255);
    border: 5px;
    transform: translateX(-10%);
    text-decoration: line-through;
    text-decoration-thickness: 5px;
    text-decoration-color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.5s cubic-bezier(1,-1.14,.07,1);
}


.tab-button.active {
    color: rgb(0, 0, 0);
    text-decoration: line-through 4px rgb(255, 255, 255);
    background-color: none;
}



@media (max-width: 600px) {
    /* .wrapper{
        display: none;
    } */

    .left-top{
        display: none;
    }
}
