body {
    font-family: Nunito;
    font-size: 25px;
    font-weight: 500;
}

.home-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    
}

.home-main {
    padding-left: 50px;
    padding-right: 30px;
}
 
.home-main h3 {
    font-family: Nunito;
    font-size: 35px;
    font-weight: 800;
    word-spacing: -10px;
    letter-spacing: 5px;
}

.home-main h1 {
    font-family: Poppins;
    font-size: 70px;
    font-weight: 900;
    line-height: 1.8;
    margin: -30px 0px;
    margin-top: -50px;
}

img {
    max-width: 100%;
    width: 500px;
    padding-right: 50px;
}


li {
    height: 45px;
    margin-bottom: 45px;
    display: none;
}

@media (max-width: 600px) {
    body {
        font-size: 18px;
        font-weight: 500;
    }

    .home-layout {
        display: grid;
        grid-template-columns: auto;
        
        align-items: center;
        justify-items: center;
        align-content: center;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        
    }

    .home-main {
        text-align: center;
        padding: 0px 15px;
    }

    .home-main h3 {
        font-size: 18px;
        word-spacing: 1px;
        letter-spacing: 0px;
    }
    
    .home-main h1 {
        font-size: 30px;
        font-weight: 900;
        margin: -20px 0px;
    }

    img {
        max-width: 100%;
        width: 500px;
        padding-right: 0px;
    }
}