body {
    font-family: Tangerine;
    font-size: 40px;
    font-weight: 600;
}

.home-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    
}

.home-main {
    padding-left: 50px;
    padding-right: 30px;
}
 
.home-main h3 {
    font-family: Tangerine;
    font-size: 40px;
    font-weight: 700;
    line-height: 0.5;
}

.home-main h1 {
    font-family: Quicksand;
    font-size: 60px;
    font-weight: 900;
    line-height: 1.8;
    margin: -10px 0px;
}

img {
    max-width: 100%;
    width: 500px;
    padding-right: 50px;
}
