body {
    font-family: -apple-system, 
                 BlinkMacSystemFont, 
                 "Segoe UI", 
                 Roboto, 
                 Oxygen-Sans, 
                 Ubuntu, 
                 Cantarell, 
                 "Helvetica Neue", 
                 sans-serif;
    font-size: 20px;
    color: cornsilk;
    border: 20px;
 }

.main-content {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-image: linear-gradient(120deg,
                      #aa208f,#7c216a,#d133b2,
                      #28afc7,#313ab4,#2073aa,
                      #f44444,#882518,#f44444);
    background-size: 500%;
    animation: gradiant 25s linear infinite;
    z-index: 1;
}
@keyframes gradiant {
    from{ background-position: 0; }
    to{ background-position: 50%; }
}

/* .active {
    background-color: rgb(167, 80, 80);
} */

.content {
    display: none;
    padding: 23px 28px 38px 68px;
}

.content.active {
    display: block;
    color: black;
}

p {
    color: black;
    text-align: left;
    padding: 10px;
}











/* .main-content section {
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* .main-content section h2 {
    font-size: 70px;
    font-weight: 900;
    background-image: linear-gradient(120deg,
                      #5f4513,#ddcd3a,#8d8409,
                      #000000,#221b1b,#686618,
                      #65b844,#72c92b,#70ff38);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    background-size: 500%;
    animation: gradiants 9s linear infinite;
}
@keyframes gradiants {
    from{ background-position: 0; }
    to{ background-position: 50%; }
}

svg text {
    font-size: 7rem; 
    stroke-width: 2px;
    fill: transparent;
    stroke: #ffffff;
    letter-spacing: 2px;
    animation: effect 6s infinite alternate;
  }

  .svg_icon {
      font-size: 24px;
  } */

