body {
    font-family: Quicksand;
    font-weight: 600;
    font-size: 20px;
    color: cornsilk;
    border: 20px;
 }

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-image: linear-gradient(120deg,
                      #dd53c2,#ca91bf,#d133b2,
                      #28afc7,#9396c2,#39dee4,
                      #f44444,#882518,#f44444);
    background-size: 500%;
    animation: gradiant 25s linear infinite;
    z-index: 1;
}
@keyframes gradiant {
    from{ background-position: 0; }
    to{ background-position: 50%; }
}

/* .active {
    background-color: rgb(167, 80, 80);
} */

.content {
    display: none;
    padding: 23px 28px 38px 68px;
}

.content.active {
    display: block;
    color: black;
}

p {
    color: black;
    text-align: left;
    padding: 10px;
}

.section {
    max-width: 1200px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

.tech-icons {
    display: block;
    padding: 20px;
    padding-right: 15px;
    padding-left: 5px;
    /* border: solid 3px rgb(24, 17, 17); */
    border-left: 0px;
    box-shadow: 1px 0px 50px #bbbbbb;
    border-radius: 0% 70% 70% 0%; 
    position: absolute;
    top: 35%;
    left: 0;
    cursor: pointer;
    background-image: linear-gradient(270deg,
                    #eeeeee,#bebebe,#f7f7f7,
                    #e0e0e0,#bbbbbb,#e0e0e0);
    background-size: 1000%;
    animation: gradiant1 5s linear infinite;
    z-index: 1;
}
@keyframes gradiant1 {
    from{ background-position: 0; }
    to{ background-position: 70%; }
    from{ background-position: 30%; }
    to{ background-position: 100%; }
}

.tech-tooltip {
    position: absolute;
    left: 0;
    font-size: 16px;
    background-color: #111;
    color: #ffffff;
    padding: 8px 10px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.95, 0.265, 1.55);
}

.technology:hover .tech-tooltip {
    left: 55px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}



@media (max-width: 600px) {
    .tech-icons {
        padding: 10px;
        border-left: 0px;
        box-shadow: 1px 0px 50px #bbbbbb;
        border-radius: 0% 70% 70% 0%; 
        position: absolute;
        top: 70%;
        left: 0;
    }
    
    .tech-tooltip {
        position: absolute;
        left: 0;
        font-size: 16px;
        background-color: #111;
        color: #ffffff;
        padding: 8px 10px;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.68, -0.95, 0.265, 1.55);
    }
    
    .technology img {
        width: 15px;
    }

    .technology:hover .tech-tooltip {
        left: 55px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    
}












/* .main-content section {
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* .main-content section h2 {
    font-size: 70px;
    font-weight: 900;
    background-image: linear-gradient(120deg,
                      #5f4513,#ddcd3a,#8d8409,
                      #000000,#221b1b,#686618,
                      #65b844,#72c92b,#70ff38);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    background-size: 500%;
    animation: gradiants 9s linear infinite;
}
@keyframes gradiants {
    from{ background-position: 0; }
    to{ background-position: 50%; }
}

svg text {
    font-size: 7rem; 
    stroke-width: 2px;
    fill: transparent;
    stroke: #ffffff;
    letter-spacing: 2px;
    animation: effect 6s infinite alternate;
  }

  .svg_icon {
      font-size: 24px;
  } */

