.mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.637);
    height: 100%;
    width: 95%;
    z-index: 99;
    padding: 20px 10px;
}

.nav-top {
    display: flex;
    justify-content: space-between;
}

.nav-left-top {
    display: block;
}

.nav-top span {
    background-color: rgb(26, 26, 26);
    padding: 5px 10px;
    border-radius: 100%;
    border: solid 2px rgb(70, 62, 62);
    font-size: 15px;
    cursor: pointer;
}

.nav-menu {
    display: block;
    position: relative;
    left: 0%;
    right: 0%;
    top: 10%;
    line-height: 4em;
    text-align: center;
}

.nav-bottom {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5%;
    width: 98%;

}

@media (min-width: 600px) {
    .mobile-nav{
        display: none;
    }
    
}